<div class="card">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-6">
        <h5 class="card-title">Rooms</h5>
      </div>
      <div class="col-6 text-end">
        <a class="btn btn-primary" routerLink="/rooms/manage">Add room</a>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Created At</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rooms">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.createdAt}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

